
@{
    ViewBag.Title = "Administração";
}

<h2>Principal</h2>

<div class="row text-center">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #037c72;">
            <a href="@Url.Action("Index", "Perfil")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-user-plus"></i>
                    <p>Perfil</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #12701c;">
            <a href="@Url.Action("Index", "Aplicacao")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-random"></i>
                    <p>Aplicações</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #004D97;">
            <a href="@Url.Action("Index", "Recurso")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-puzzle-piece"></i>
                    <p>Recursos</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #d03610;">
            <a href="@Url.Action("Index", "Usuario")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-user"></i>
                    <p>Usuários</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #004D97;">
            <a href="@Url.Action("Index", "Empresa")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-industry"></i>
                    <p>Empresas</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #d03610;">
            <a href="@Url.Action("Index", "Noticia")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-newspaper-o"></i>
                    <p>Notícias</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hero-feature">
        <div class="bloco" style="background-color: #12701c;">
            <a href="@Url.Action("Index", "Menu")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-bars"></i>
                    <p>Menus</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="bloco" style="background-color: #037c72;">
            <a href="@Url.Action("Index", "MenuItem")">
                <div class="blocoTitulo">
                    <i class="fa fa-3x fa-indent"></i>
                    <p>Ítens de Menu</p>
                </div>
            </a>
        </div>
    </div>
</div>
